
.Banner-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(200 * 100vw / var(--ideal-viewport-width));
    height: calc(500 * 100vw / var(--ideal-viewport-width));
    box-shadow: 0px 10px 20px black;
    backdrop-filter: blur(200px);
    backdrop-filter: contrast(95%);
    backdrop-filter: brightness(110%);
    .text {
      margin-left: 7%;
      h1 {
      font-size: calc(65 * 100vw / var(--ideal-viewport-width));;
      text-shadow: 2px 2px 2px black;
      }
      .content {
        
          font-size: calc(45 * 100vw / var(--ideal-viewport-width));
          text-shadow: none;
          filter: opacity(0.85);
        
      }
    }
    img {
      position: relative;
      width: 40%;
      right: calc(10 * 100vw / var(--ideal-viewport-width));
      top: calc(-65 * 100vw / var(--ideal-viewport-width))
    }
  }


@media (max-width: 680px) {
  
  .Banner-2 {
    margin-top: calc(100 * 100vw / var(--ideal-viewport-width));
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 30px hsl(0, 0%, 21%);
    img {
      display: none;
    }
    .text {
      margin: 0;
      margin-top: 5%;
      h1 {
        display: inline-block;
        margin: 0;
        width: 80%;
        font-size: calc(80 * 100vw / var(--ideal-viewport-width));;
      }
      .content {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}
